.logo{

    border-radius: 20px;
}
.img1{
    height: 100px;
    width: 100px;
}
.img2{
    height: 100px;
    width: 100px;
}
.img3{
    height: 85px;
    width: 85px;
}
.img4{
    height: 85px; 
    width: 110px;
}
.img5{
    height: 100p;
    width: 100px;
}
.img6{
    height: 100px;
    width: 100px;
}
.img7{
    height: 90px;
    width: 90px;
}
.img8{
    height: 80px;
    width: 120px;
}
.img9{
    height: 90px; 
    width: 90px;
}
.img10{
    height: 90p;
    width: 90px;
}
.img11{
    height: 70px; 
    width: 90px;
}
.img12{
    height: 70p;
    width: 160px;
}
.subject{
    margin: 5%;
    height: 4em;
    width: 100%;
}
